@font-face {
    font-family: 'Quarion';
    src: local('Quarion Book'), local('Quarion-Book'), url('/fonts/Quarion-Book.woff2') format('woff2'), url('/fonts/Quarion-Book.woff') format('woff'), url('/fonts/Quarion-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.bigred {
  font-size: 20px;
  color: red;
}

.body {
    width: 100%;
    height: 100%;
}

.body__wrapper {
    min-height: 100%;
    padding-bottom: 44px;
}

.header {
    border-bottom: 1px solid #000;
}

.header__container {
    width: 1140px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header__logo-link {
    margin-left: 47%;
}

.header__logo {
    width: 70px;
    height: 70px;
}

.header__login-btn {
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: #1786f5;
    -webkit-box-shadow: 0 2px 0 #1171df;
    box-shadow: 0 2px 0 #1171df;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    font-family: Quarion, sans-serif;
    width: 90px;
    cursor: pointer;
}

.header__login-btn:hover {
    opacity: 0.7;
}

.header__register-btn {
    margin-left: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: #32CD32;
    -webkit-box-shadow: 0 2px 0 #228B22;
    box-shadow: 0 2px 0 #228B22;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    font-family: Quarion, sans-serif;
    width: 140px;
    cursor: pointer;
}

.header__register-btn:hover {
    opacity: 0.7;
}

.list__name {
    font-family: Quarion, sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 50px;
}

.list__container {
    width: 1140px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.list__record {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.record__wrapper {
    width: 800px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: Quarion, sans-serif;
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid #C0C0C0;
    border-bottom: 1px solid #C0C0C0;
}

.list__record+.list__record {
    margin-top: -1px;
}

.record__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 600px;
}

.record__image {
    margin-right: 15px;
    margin-left: 15px;
    height: 50px;
    width: 50px;
}

.record__artist {
    font-weight: bold;
}

.record__name {
    line-height: 1.3;
}

.record__year {
    margin-left: auto;
    margin-right: 10px;
}

.record__admin-btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 20px;
}

.record__change-btn {
    background-color: #1786f5;
    -webkit-box-shadow: 0 2px 0 #1171df;
    box-shadow: 0 2px 0 #1171df;
    border-radius: 5px;
    padding: 3px;
    color: #fff;
    font-size: 14px;
    font-family: Quarion, sans-serif;
    width: 110px;
    margin-bottom: 10px;
}

.record__change-btn:hover {
    opacity: 0.7;
}

.record__delete-btn {
    background-color: #DC143C;
    -webkit-box-shadow: 0 2px 0 #B22222;
    box-shadow: 0 2px 0 #B22222;
    border-radius: 5px;
    padding: 3px;
    color: #fff;
    font-size: 14px;
    font-family: Quarion, sans-serif;
    width: 110px;
}

.record__delete-btn:hover {
    opacity: 0.7;
}

.nav__paginator {
    margin-top: 30px;
    margin-bottom: 15px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.list__paginator {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.paginator__page-link {
    width: 100%;
    height: 100%;
    color: black;
}

.paginator__page-link:visited {
    color: black;
}

.paginator__page-active {
    font-family: Quarion, sans-serif;
    font-size: 16px;
    cursor: pointer;
    background-color: white;
}

.paginator__page-active:hover {
    opacity: 0.7;
}

.paginator__page-inactive {
    font-family: Quarion, sans-serif;
    font-size: 16px;
    background-color: white;
    cursor: text;
}

.paginator__page-selected {
    font-family: Quarion, sans-serif;
    font-size: 16px;
    color: #B8860B;
    cursor: text;
}

.footer {
    border-top: 1px solid #000;
    margin-top: -44px;
}

.footer__container {
    width: 1140px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.footer__links {
    font-family: Quarion, sans-serif;
    font-size: 12px;
}

.footer__link {
    font-family: Quarion, sans-serif;
    font-size: 12px;
    color: black;
    font-weight: bold;
}

.footer__link:hover {
    color: #B8860B;
}

.record__admin-form {
    width: 580px;
    height: 500px;
    border: 2px solid #000;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: white;
    visibility: hidden;
    opacity: 0;
}

.admin-form__block {
    visibility: visible;
    opacity: 1;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.admin-form__none {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.admin-form__close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 10px;
}

.close__icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.admin-form__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 16px;
    font-family: Quarion, sans-serif;
}

.record__change-image {
    border: 1px solid #000;
    width: 400px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
}

.record__change-artist {
    border: 1px solid #000;
    width: 400px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
}

.record__change-name {
    border: 1px solid #000;
    width: 400px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
}

.record__change-year {
    border: 1px solid #000;
    width: 400px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
}

.record__save-btn {
    background-color: #32CD32;
    -webkit-box-shadow: 0 2px 0 #228B22;
    box-shadow: 0 2px 0 #228B22;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    font-family: Quarion, sans-serif;
    height: 30px;
    width: 130px;
}

.record__save-btn:hover {
    opacity: 0.7;
}

@media screen and (min-width: 768px) and (max-width: 1140px) {
    .header__container,
    .list__container,
    .paginator__container {
        width: 768px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .list__record {
        width: 100%;
    }
}