.register-form__container {
    width: 1140px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.register-form__name {
    font-family: Quarion, sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 50px;
}

.register-form__email {
    width: 250px;
    height: 40px;
    font-size: 16px;
    font-family: Quarion, sans-serif;
    border-bottom: 1px solid #C0C0C0;
    margin-bottom: 20px;
}

.register-form__email::-webkit-input-placeholder {
    padding-left: 65px;
}

.register-form__email:-ms-input-placeholder {
    padding-left: 65px;
}

.register-form__email::-ms-input-placeholder {
    padding-left: 65px;
}

.register-form__email::placeholder {
    padding-left: 65px;
}

.register-form__password {
    width: 250px;
    height: 40px;
    font-size: 16px;
    font-family: Quarion, sans-serif;
    border-bottom: 1px solid #C0C0C0;
    margin-bottom: 20px;
    padding-left: 60px;
}

.register-form__password-rep {
    width: 250px;
    height: 40px;
    font-size: 16px;
    font-family: Quarion, sans-serif;
    border-bottom: 1px solid #C0C0C0;
    margin-bottom: 20px;
    padding-left: 50px;
}

.register-form__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #32CD32;
    -webkit-box-shadow: 0 3px 0 #228B22;
    box-shadow: 0 3px 0 #228B22;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    font-family: Quarion, sans-serif;
    width: 195px;
    height: 40px;
    cursor: pointer;
}

.register-form__btn:hover {
    opacity: 0.7;
}